@charset "utf-8";
	body {
	background:#fbfbfb;
}
.g-contentCon {
	width:958px;
	height:598px;
	margin:0 auto;
	border-radius:5px;
	background:#fff;
	border:1px solid #eee;
	padding-bottom:50px;
}
a.z-agreeBtn {
	display:block;
	width:340px;
	height:42px;
	line-height:42px;
	font-size:16px;
	color:#fff;
	background:#f60;
	border-radius:2px;
	text-align:center;
	margin-bottom:13px;
}
a.z-agreeBtn:hover {
	background:#f40;
}
.m-main {
	width:340px;
	margin:0 auto;
	padding-top:90px;
}
.m-main h2 {
	font-size:22px;
	text-align:center;
}
.register-form-con {
	padding-top:80px;
	position:relative;
}
.register-form-con li {
	float:left;
	width:340px;
	height:72px;
	position:relative;
	color:#bbb;
	_overflow:hidden;
}
.register-form-con li b {
	display:block;
	width:18px;
	position:absolute;
	left:10px;
	z-index:10;
}
.register-form-con li b.user-name {
	height:18px;
	background-position:0 0;
	top:11px;
}
.register-form-con li b.login-password {
	height:20px;
	background-position:0 -25px;
	top:10px;
}
.register-form-con li b.verification-code {
	height:20px;
	background-position:0 -208px;
	top:11px;
}
.register-form-con li input {
	float:left;
	width:298px;
	height:20px;
	padding:10px 0 10px 40px;
	font-size:14px;
	position:relative;
	border:1px solid #ddd;
	border-radius:2px;
	-moz-box-shadow:0 1px 0 #fafafa;
	-webkit-box-shadow:0 1px 0 #fafafa;
	box-shadow:0 1px 0 #fafafa;
	overflow:hidden;
	outline:none;
}
.register-form-con li .z-code {
	position:relative;
}
.register-form-con li .z-code input {
	width:139px;
}
.register-form-con li .z-code img,.register-form-con li.z-code a {
	float:left;
}
.register-form-con li .z-code img {
	display:block;
	width:92px;
	height:42px;
	margin:0 10px 0 15px;
	cursor:pointer;
}
.register-form-con li .z-code a {
	color:#bbb;
	font-size:14px;
	position:relative;
	top:10px;
}
.register-form-con li .z-code a:hover {
	color:#f60;
	text-decoration:underline;
}
.register-form-con li em {
	display:block;
	height:20px;
	line-height:20px;
	position:absolute;
	left:42px;
	top:11px;
	*top:12px;
	font-size:14px;
}
.register-form-con li p,.register-form-con li.error-text span {
	float:left;
	height:30px;
	line-height:28px;
}
.register-form-con li p {
	line-height:24px;
}
.register-form-con li p strong {
	color:#bbb;
}
.register-form-con li cite {
	display:inline-block;
	width:151px;
	height:7px;
	border:1px solid;
	margin-right:5px;
	position:relative;
}
.register-form-con li cite dfn {
	display:block;
	height:7px;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}
.register-form-con li p.orange {
	color:#ffb98a;
}
.register-form-con li p.orange cite {
	border-color:#ffb98a;
}
.register-form-con li p.orange cite dfn {
	background:#ffb98a;
}
.register-form-con li p.yellow {
	color:#fa0;
}
.register-form-con li p.yellow cite {
	border-color:#fa0;
}
.register-form-con li p.yellow cite dfn {
	background:#fa0;
}
.register-form-con li p.green {
	color:#3b0;
}
.register-form-con li p.green cite {
	border-color:#3b0;
}
.register-form-con li p.green cite dfn {
	background:#3b0;
}
.register-form-con li.error-text span {
	position:relative;
	overflow:hidden;
}
.register-form-con li.enter-focus b.user-name {
	background-position:-25px 0;
}
.register-form-con li.enter-focus b.login-password {
	background-position:-25px -25px;
}
.register-form-con li.enter-focus b.verification-code {
	background-position:0 -235px;
}
.register-form-con li.enter-focus input {
	border:1px solid #f60;
	-moz-box-shadow:0 1px 0 #ffdfc9;
	-webkit-box-shadow:0 1px 0 #ffdfc9;
	box-shadow:0 1px 0 #ffdfc9;
}
.register-form-con li.error-text em,.register-form-con li.correct-text em {
	color:#333;
}
.register-form-con li.error-text span i {
	display:block;
	float:left;
	width:18px;
	height:18px;
	background-position:0 -52px;
	vertical-align:middle;
	position:relative;
	top:6px;
	margin-right:3px;
}
.register-form-con li.error-text span a {
	margin-left:5px;
}
.register-form-con li.error-text span a:hover {
	text-decoration:underline;
}
.register-form-con li.correct-text s {
	display:block;
	width:18px;
	height:18px;
	background-position:-27px -52px;
	position:absolute;
	right:5px;
	top:12px;
}
.link-con {
	text-align:center;
	padding-top:22px;
}
.link-con a.z-agreement {
	color:#666;
	font-size:14px;
}
.link-con a.z-agreement:hover {
	color:#f60;
	text-decoration:underline;
}
.j-tips-wrap {
	width:336px;
	padding:1px;
	border:1px solid #ddd;
	overflow:hidden;
	background:#fff;
	position:absolute;
	top:124px;
	left:0;
	z-index:50;
	*zoom:1;
	display:none;
}
.j-tips-wrap .j-tips {
	display:block;
	width:336px;
	height:30px;
	color:#999;
	font-size:12px;
	line-height:30px;
	cursor:pointer;
	text-indent:39px;
}
.j-tips-wrap .j-tips:hover,.j-tips-wrap .j-tips.selected {
	color:#333;
	background:#eee;
}
.security-code-con {
	padding-top:100px;
}
.security-code-con dt {
	font-size:16px;
	padding-bottom:20px;
}
.security-code-con dt b {
	margin:0 8px;
}
.security-code-con dt a {
	color:#bbb;
}
.security-code-con dt a:hover {
	color:#f60;
}
.security-code-con dd {
	clear:both;
	display:block;
}
.security-code-con dd.code-form {
	height:105px;
	font-size:14px;
	position:relative;
}
.security-code-con dd.code-form input,.security-code-con dd.code-form a {
	float:left;
	height:20px;
	padding:10px 0;
	border:1px solid #ddd;
	-moz-box-shadow:0 1px 0 #fafafa;
	-webkit-box-shadow:0 1px 0 #fafafa;
	box-shadow:0 1px 0 #fafafa;
	overflow:hidden;
}
.security-code-con dd.code-form input {
	width:214px;
	padding-left:10px;
	border-radius:2px 0 0 2px;
	outline:none;
}
.security-code-con dd.code-form a {
	display:block;
	width:113px;
	text-align:center;
	color:#666;
	border-left:0 none;
	border-radius:0 2px 2px 0;
}
.security-code-con dd.code-form a:hover {
	color:#f60;
}
.security-code-con dd.code-form em {
	position:absolute;
	left:10px;
	top:10px;
	color:#bbb;
}
.security-code-con dd.code-form em.gray3 {
	color:#333;
}
.security-code-con dd.enter-focus input {
	border:1px solid #f60;
	-moz-box-shadow:0 1px 0 #ffdfc9;
	-webkit-box-shadow:0 1px 0 #ffdfc9;
	box-shadow:0 1px 0 #ffdfc9;
}
.security-code-con dd.error-text span {
	float:left;
	height:30px;
	line-height:28px;
}
.security-code-con dd.error-text i {
	display:block;
	float:left;
	width:18px;
	height:18px;
	background-position:0 -52px;
	vertical-align:middle;
	position:relative;
	top:6px;
	margin-right:3px;
}
.security-code-con dd.countdown-time a {
	background:#fbfbfb;
	cursor:default;
	color:#bbb;
}
.security-code-con dd.countdown-time a:hover {
	color:#bbb;
}
.security-code-con dd a.z-agreeBtn {
	letter-spacing:5px;
}
.binding-con {
	position:relative;
}
.binding-con span,.binding-con span i,.binding-con span img {
	display:block;
	width:60px;
	height:60px;
}
.binding-con span {
	position:absolute;
	top:0;
	left:-70px;
}
.binding-con span i {
	position:relative;
	top:-60px;
	left:0;
	z-index:10;
	background:url(../images/head-portrait.png?v=0625);
}
.binding-con span img {
	border-radius:60px;
}
.binding-con p {
	font-size:14px;
}
.binding-con p em {
	display:block;
	font-size:20px;
	line-height:28px;
	margin-bottom:5px;
}
.g-binding .register-form-con {
	padding-top:60px;
}
.g-binding .link-con a.z-agreeBtn {
	letter-spacing:5px;
}
a.letter-noSpac {
	letter-spacing:normal!important;
}
.g-binding .j-tips-wrap {
	top:104px;
}
.sign-success {
	text-align:center;
	padding:150px 0 100px;
}
.sign-success i {
	display:inline-block;
	width:42px;
	height:42px;
	background-position:0 -75px;
}
.sign-success span {
	display:block;
	color:#00a800;
	font-size:22px;
	font-weight:bold;
	padding:15px 0;
}
.sign-success p {
	font-size:16px;
}
.sign-success p b {
	margin:0 6px;
}
.sign-success a {
	display:inline-block;
	width:240px;
	height:40px;
	line-height:40px;
	color:#bbb;
	font-size:16px;
	border:1px solid #eee;
	border-radius:2px;
	margin-top:60px;
}
.sign-success a.orange em {
	color:#f60;
}
.sign-success a.orange:hover {
	border:1px solid #f60;
}
.g-login-con {
	width:100%;
	min-width:1190px;
	height:455px;
	background:#f1f1f1;
}
.m-login-screen {
	width:990px;
	margin:0 auto;
}
.screen-left {
	height:455px;
	overflow:hidden;
}
.screen-left a {
	float:left;
	display:block;
	width:550px;
	height:400px;
	margin:27px auto 28px;
}
.screen-right {
	width:390px;
	height:407px;
	background:#fff;
	margin-top:24px;
	position:relative;
	overflow:hidden;
}
.login-panel {
	width:308px;
	margin:0 41px;
	position:relative;
}
.login-panel dl {
	height:227px;
	padding-top:27px;
}
.login-panel dt {
	display:block;
	height:25px;
	margin-bottom:10px;
	font-size:20px;
	overflow:hidden;
}
.login-panel dt a {
	font-size:16px;
	margin-top:5px;
}
.login-panel dt a:hover {
	text-decoration:underline;
}
.login-panel dt a i {
	display:inline-block;
	width:13px;
	height:13px;
	background-position:0 -177px;
	vertical-align:middle;
	margin-left:3px;
	margin-top:-2px;
	margin-top:-2px\9;
	*margin-top:1px;
	_margin-top:6px;
}
.login-panel dd {
	clear:both;
}
.login-panel dd .register-form-con {
	padding-top:0;
	margin-bottom:5px;
}
.login-panel dd .register-form-con li {
	height:42px;
	margin-top:20px;
}
.login-panel dd .register-form-con li input {
	width:266px;
}
.login-panel dd a:hover {
	color:#f60;
}
.login-panel dd.text-alignR {
	text-align:right;
}
.login-panel dd.error-message {
	height:28px;
	line-height:28px;
	margin-top:7px;
	background:#fff2c5;
}
.login-panel dd.error-message i {
	display:block;
	float:left;
	width:18px;
	height:18px;
	background-position:0 -52px;
	vertical-align:middle;
	position:relative;
	top:6px;
	margin-right:3px;
	margin-left:8px;
}
.login-panel p a.z-agreeBtn {
	width:308px;
	letter-spacing:10px;
	font-size:18px;
}
.login-panel .other-login {
	clear:both;
	width:308px;
	height:23px;
	line-height:23px;
	margin-top:32px;
	padding-top:29px;
	border-top:1px dashed #eee;
	color:#bbb;
	font-size:14px;
}
.login-panel .other-login span,.other-login a {
	float:left;
}
.login-panel .other-login span {
	margin-right:-7px;
}
.login-panel .other-login a {
	display:block;
	width:60px;
	height:23px;
	border-radius:2px;
	vertical-align:middle;
	position:relative;
	top:-2px;
	*top:0;
	margin-left:20px;
	cursor:pointer;
}
.login-panel .other-login a b {
	display:block;
	width:60px;
	height:23px;
}
.login-panel .other-login a.qq-icon {
	background:#7accff;
}
.login-panel .other-login a.qq-icon:hover {
	background:#44b7ff;
}
.login-panel .other-login a.qq-icon b {
	background-position:9px -123px;
}
.login-panel .other-login a.wx-icon {
	background:#97db84;
}
.login-panel .other-login a.wx-icon:hover {
	background:#51c332;
}
.login-panel .other-login a.wx-icon b {
	background-position:8px -149px;
}
.login-panel .register-form-con li.enter-focus input {
	border:1px solid #ffa664;
}
.login-panel .register-form-con li.enter-focus b.user-name {
	height:18px;
	background-position:-25px -177px;
	top:11px;
}
.login-panel .register-form-con li.enter-focus b.login-password {
	height:20px;
	background-position:-25px -201px;
	top:10px;
}
.login-panel .j-tips-wrap {
	width:304px;
	top:126px;
}
.login-panel .j-tips-wrap .j-tips {
	width:304px;
}
.wx-login {
	width:390px;
	height:377px;
	padding-top:30px;
	text-align:center;
	background:#fff;
	position:absolute;
	right:-390px;
	top:0;
	z-index:15;
}
.wx-login h2 {
	font-size:18px;
}
.wx-login p {
	width:205px;
	height:205px;
	margin:25px auto 30px;
	border:1px solid #eee;
	position:relative;
}
.wx-login span {
	display:block;
	font-size:18px;
}
.wx-login a img {
	display:none;
}
.wx-login a {
	display:block;
	width:173px;
	height:61px;
	background:url(../images/return_03.gif?v=0630);
	position:absolute;
	right:0;
	bottom:0;
}
.wx-login a:hover {
	background:url(../images/return_04.gif?v=0630);
}
iframe {
	margin:-20px 0 0 -48px;
	height:290px;
}
body {
	background:#fff;
}
.impowerBox {
	position:absolute;
	top:0;
	left:0;
}
.impowerBox .qrcode {
	width:203px;
	margin-top:5px;
}
.impowerBox .title {
	display:none;
}
.impowerBox .info {
	width:205px;
	margin:0 auto;
}
.status_icon {
	display:none;
}
.impowerBox .status {
	text-align:center;
	padding:7px 0;
}
.impowerBox .status_txt h4 {
	color:#00a800;
	font-weight:bold;
}
.impowerBox .icon38_msg {
	display:none;
}
.verification-code-con .register-form-con {
	padding:15px 0 10px;
}
.verification-code-con .register-form-con li {
	clear:both;
	float:none;
	width:295px;
	margin:0 auto;
}
.verification-code-con .register-form-con li .z-code {
	height:42px;
}
.verification-code-con .register-form-con li .z-code input {
	width:100px;
}
.verification-code-con .register-form-con li .z-code img {
	margin:0 5px 0 10px;
}
.verification-code-con a.z-agreeBtn {
	width:80px;
	height:30px;
	line-height:30px;
	font-size:12px;
	margin:0 auto;
	font-size:14px;
}
